.container {
  height: 100vh;
  background-color: var(--lightGray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  background-color: var(--white);
  border-radius: 15px;
  width: 200px;
  height: 350px;
}

.imgContainer {
  flex: 1.5;
  border-radius: 10px;
  background: url(./assets/qrCode.png) 0 0 no-repeat;
  
  background-size:cover;
  
}

.textContainer {
  flex: 0.5;
  text-align: center;
}

h2 {
  font-size: 16px;
  color: var(--darkBlue);
  margin-bottom: 10px;
}

p {
  font-size: 15px;
  color: var(--grayishBlue);
}
/* 
 --darkBlue: rgb(31, 50, 81);
  --white: rgb(255, 255, 255);
  --lightGray: rgb(214, 226, 240);
  --grayishBlue: rgb(123, 135, 157);
*/