@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
:root{
  --darkBlue: rgb(31, 50, 81);
  --white: rgb(255, 255, 255);
  --lightGray: rgb(214, 226, 240);
  --grayishBlue: rgb(123, 135, 157);
}
body {
  margin: 0;
  font-family: 'Outfit', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

